@font-face {
    font-family: 'NanumPenScript';
    /* 불러올 폰트 이름 설정(내가 원하는 이름으로 설정 가능) */
    src: url('../public/NanumPenScript-Regular.ttf');
    /* public폴더에 들어있는 폰트를 불러옴 */
}

html, body {
    margin: 0px;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

#root {
/* 개발자도구 요소창을 보면 알 수 있듯, react 앱에서는 body 태그 바로 아래에 <div id="root">인 root component가 렌더링되어있기 때문! 따라서 root component의 스타일을 설정하면 main component의 스타일을 설정 수 있는 것과 같기 떄문! */
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    /* 상하 margin은 0이되고 좌우 margin은 max-width 만큼 늘어난 크기를 제외한 곳(바깥부분)이 모두 margin이 되기 때문에 좌우 기준 가운데 정렬이 된다. */
    min-height: 100vh;
    /* 100vh에서 vh는 viewport height로 현재 사용자가 보고있는 브라우저의 스크린 높이를 뜻함. 따라서 100vh는 스크린의 최대 높이를 뜻하는 값임 */
    height: 100%;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

body * {
    font-family: 'NanumPenScript';
}